apiVersion: 1

datasources:
- orgId: 1
  version: 3
  name: 'influxdb6'
  type: 'influxdb'
  access: 'proxy'
  url: 'http://influxdb:8086'
  isDefault: true
  jsonData:
    version: 'Flux'
    defaultBucket: '{{ influxBucket }}'
    httpMode: 'POST'
    organization: '{{ influxOrganization }}'
  secureJsonData:
    token: '{{ influxToken }}'
